

    <ul class="small-block-grid-2">
        <li>
        <a href="#/toolkit" >
            <div id="offerWrap">
                <div class="" >
                    <h5 class="subheader homeHead" style="text-align: center;">Library</h5>
             
                    <img ng-src="{{static_resource_url}}/img/toolkit.png" class="homeThumb"/>

                </div>
                <div class="">
                    <p class="subheader subDescrip">looking for information, this is the place to go</p>
                </div>
                <a class="button expand vodPurple " href="#/toolkit" style="margin-bottom: 15px;">Go »</a>
            </div>
        </a>
    </li>
    <li>
        <a href="#/search" >
         <div id="offerWrap">
            <div class="">
                <h5 class="subheader homeHead" style="text-align: left;">Report</h5>
                <img ng-src="{{static_resource_url}}/img/selectstore.png" class="homeThumb"/>
               
            </div>
            <div class="">
                <p class="subheader subDescrip" style="text-align: left;">find a issue with a product, report it here</p>
            </div>
            <a class="button expand vodPurple" href="#/search" style="margin-bottom: 15px;">Go »</a>
        </div>
        </a>
    </li>
    <li>
        <a href="#/stats" >
            <div id="offerWrap">
                <div class="">
                    <h5 class="subheader homeHead" style="text-align: left;">My Reports</h5>
                    <img ng-src="{{static_resource_url}}/img/statsicon.png" class="homeThumb"/>

                </div>
                <div class="">
                    <p class="subheader subDescrip" style="text-align: left;">how am i doing today, this week?</p>
                </div>
                <a class="button expand vodPurple" href="#/stats" style="margin-bottom: 15px;">Go »</a>
            </div>
        </a>
    </li>
    <li>
        <a href="#/visit" >
            <div id="offerWrap">
                <div class="">
                    <h5 class="subheader homeHead" style="text-align: left;">My Visits</h5>
                    <img ng-src="{{static_resource_url}}/img/visits.png" class="homeThumb"/>

                </div>
                <div class="">
                    <p class="subheader subDescrip" style="text-align: left;">This is where my visits are kept</p>
                </div>
                <a class="button expand vodPurple" href="#/visit" style="margin-bottom: 15px;">Go »</a>
            </div>
        </a>
    </li>

</ul>